*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* .container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

/* Card BG */

.card {
	margin: 115px 0 0 0;
	background-color: #53798a;
	border-radius: 1rem !important;
	float: right;
}

/* Header */

.card-header {
	background-color: #517586;
	border: none;
}
.rounded-top {
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

/* Search Form */

.search-form {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.search-input {
	width: 100%;
	max-width: 25rem;
	padding: 0.6rem;
	border-radius: 1.2rem;
	border: none;
	background-color: #384c5e;
}

.search-btn {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	padding: 1px 0.6rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 6rem;
}

/* CONTENT */

.row {
	justify-content: space-around;
}

.active-user {
	background-color: #384c5e;
}
.card-img {
	width: 4.8rem;
	padding-top: 4px;
	max-width: 100%;
	border-radius: 0;
	border: none;
}
.card-title,
.card-text {
	color: #fff;
	margin: 0px;
}

/* Footer */

.card-footer {
	background-color: #517586;
	border: none;
}
.rounded-bottom {
	border-bottom-left-radius: 1rem !important;
	border-bottom-right-radius: 1rem !important;
}
