.container-feed {
	/* max-width: 500 !important; */
	width: 92%;
	margin: auto;
	margin-top: 4%;
	/* font-family: sans-serif; */
	letter-spacing: 0.5;
	float: left;
}

img {
	max-width: 100%;
	/* border-radius: 50%;
	border: 1px solid #fff; */
}

.msg-header {
	border-radius: 20px 20px 0 0;
	/* border: 1px solid #ccc; */
	width: 100%;
	height: 14%;
	padding: 12px;
	border-bottom: #4e597f;
	background-color: #4e597f !important;
}
.msg-header-img {
	border-radius: 50%;
	width: 4.6rem;
	/* margin-left: 5;
	margin-top: 12px; */
	float: left;
}

.active {
	/* width: 120px; */
	float: left;
	margin-top: 10px;
}

.active h4 {
	display: inline;
	font-size: 20px;
	margin-left: 20px;
	color: #f2f3f6;
}
.active h6 {
	font-size: 10px;
	margin-left: 54px;
	margin-top: 12px;
	line-height: 2px;
	color: #f2f3f6;
}

.header-icons {
	/* float: right; */
	margin: 10px 0 0 10px;
	/* margin-left: 20px; */
	color: #fff;
	cursor: pointer;
	/* margin: 20px; */
}

.mid {
	margin-right: 24px;
	margin-left: 70px;
}
/* .header-icons {
	color: #fff;
	cursor: pointer;
	margin: 20px;
} */

.chat-page {
	padding: 0 0 50px 0;
}

.msg-inbox {
	/* overflow: hidden; */
	padding-bottom: 0px;
}
.chats {
	padding: 15px;
	background-color: #515c83;
	border-radius: 0 0px 20px 20px;
	padding-right: 20px;
}

.msg-page {
	/* height: 445px; */
	overflow-y: auto;
	overflow-x: hidden;
}

.received-chats-img {
	display: block;
	width: 34px;
	float: left;
}

.received-msg {
	display: block;
	padding: 0 0 0 45px;
	vertical-align: top;
	/* width: 427; */
}

.received-msg-inbox {
	width: 57%;
}
.received-msg-inbox p {
	background: #92cbdb;
	border-radius: 21px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 8px;
	width: 100%;
}

.time {
	color: #c1c1c1;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
.time-right {
	float: right;
	color: #c1c1c1;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.outgoing-chats {
	overflow: hidden;
	margin: 3px 0px;
}

.outgoing-chats-msg p {
	background: #92dd97;
	border-radius: 21px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 8px;
	width: 100%;
}
.outgoing-chats-msg {
	float: left;
	width: 46%;
	margin-left: 47%;
}

.outgoing-chats-img {
	display: block;
	width: 34px;
	float: right;
}

.form-control {
	background-color: #363f59;
	border: none !important;
	border-radius: 8px !important;
	position: relative;

	flex: 1 1 auto;
	width: 11%;
	min-width: 0px;
	margin-bottom: 0;
}
.input-group .fas {
	color: #fff;
	float: right;
}
